*{
    margin: 0px;
    padding: 0px;
    border: none;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5E6973;


}
form{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container{
    background-color: white;
    border-radius: 1rem;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
    max-width: 60vw;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0rem;
}
.dropdown img{
    max-width: 2rem;
}
.convertFrom{
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;
    border: 2px solid rgb(171, 168, 172);
    padding: 1rem;
    border-radius: 0.5rem;
}

.convertFrom input{
    border: 1px solid gray;
    border-radius: 0.75rem;
    min-height: 2rem;
    padding-left: 0.8rem;
}

.convertTo{
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;
    border: 2px solid rgb(171, 168, 172);
    padding: 1rem;
    border-radius: 0.5rem;
}
.convertTo input{
    border: 1px solid gray;
    border-radius: 0.75rem;
    min-height: 2rem;
    padding-left: 0.8rem;
}
.selectFrom{
    display: flex;
    margin: 1rem 0rem;
    border: 2px solid gray;
    border-radius: 0.75rem;
    justify-content: space-around;
}

.selectTo{
    display: flex;
    margin: 1rem 0rem;
    border: 2px solid gray;
    border-radius: 0.75rem;
    justify-content: space-around;
}
.exchange button{
    background-color: rgb(122, 54, 148);
    min-width: 20rem;
    min-height: 3rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    font-size: medium;
    color: white;
}



